@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column justify-content-center align-items-center gap-4">
    <h1 class="display-4">Футбольний сервіс</h1>
    <p class="lead text-center">Ласкаво просимо до Football Service – вашого вірного супутника у світі футболу! Ми пропонуємо найкращий спосіб відстежувати всі найновіші події у світі футболу, будь то гри вашої улюбленої команди та гравців. З нами ви завжди будете в курсі всіх футбольних новин та результатів матчів. Реєструйтесь як адміністратор, і керуйте своїми власними футбольними командами та турнірами. Відкрийте для себе магію футболу з Football Service!</p>
</div>
